<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
  </head>
  <body>
    <div id="header">
      <h1 id="main-title">Zero2hero</h1>
      <h3>Academia de programacion</h3>
      <p id="slogan">
        Aprende a programar desde cero. Desarrolla tus propios proyectos.
      </p>
    </div>

    <div id="courses">
      <h3>Nuestros Cursos</h3>
      <ul>
        <li>Python</li>
        <li>R</li>
        <li>HTML, CSS & JavaScript</li>
        <li>Data Science</li>
        <li>Machine Learning</li>
        <li>SQL</li>
      </ul>
    </div>

		<div id="content">
			<div id="content-content">
				<h3>Por que aprender a programar</h3>

				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At vitae similique animi exercitationem tempora, fuga repudiandae iure, inventore, enim cupiditate ipsa pariatur! Iusto quasi asperiores, numquam eius ab doloribus delectus?</p>

				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, totam mollitia! Expedita nemo est labore itaque, quo animi at. Molestias sapiente nulla mollitia, sed omnis expedita alias voluptate. Quo veritatis inventore, odio illum deleniti natus mollitia aliquid possimus dolores pariatur est repudiandae quasi! Vero in quam eligendi! Assumenda officia expedita consectetur quam adipisci, vero tenetur, perferendis tempore quidem ea sint.</p>

				<p>Que esperas? Inscribite ya!!!</p>
			</div>
		</div>

    <div id="footer">
      <div id="links" class="footer-section">
        <h4 class="footer-title">Vinculos Externos</h4>
        <ul class="footer-list">
          <li>
            Descarga Python
            <a href="https://www.python.org/downloads/" target="_blank"
              >haz click aqui</a
            >
          </li>
        </ul>
      </div>

      <div id="contact">
        <h4 class="footer-title">Contactanos</h4>
				<ul class="footer-list">
					<li><a href="mailto:zicknezz@gmail.com">Via Correo</a></li>
				</ul>
      </div>
    </div>
  </body>
</html>
