<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>

	<div id="header">
		<h1 id="main-title">Zero2hero</h1>
		<h3>Academia de programacion</h3>
		<p id="slogan">Aprende a programar desde cero. Desarrolla tus propios proyectos.</p>
	</div>

<div id="cursos">
	<h4>Nuestros Cursos</h4>
	<ul>
		<li>Python</li>
		<li>R</li>
		<li>HTML, CSS & JavaScript</li>
		<li>Data Science</li>
		<li>Machine Learning</li>
		<li>SQL</li>
	</ul>
</div>

<div>
	<h4>Vinculos Externos</h4>
	<ul>
		<li>Descarga Python <a href="https://www.python.org/downloads/" target="_blank">haz click aqui</a></li>
	</ul>
</div>

<div>
	<h4>Contactanos</h4>
	<li><a href="mailto:zicknezz@gmail.com">Via Correo</a></li>
</div>

</body>
</html>